.card_blog {
  border: 1px solid #ccc;
  padding: 14px;
  border-radius: 10px;
  width: 350px;
  flex-wrap: wrap;
  transition: all 0.3s ease;
 &:hover{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   //width: 355px;


 }


}

.title {
  font-weight: 600;
  //font-size: 16px;
  margin-top: 12px  ;
}

.description {
  font-size: 14px;
  //font-weight: 400;
  color: #868686;
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.box_data {
  display: flex;
  flex-direction: column;
  gap: 6px;
  .box_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #505050;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 5px;
    .box_card_title {
      display: flex;
      flex-direction: column;
      align-items: center ;
    }
  }
}

@media only  screen and (max-width:768px) {
  .card_blog {
    width: 350px;

  }
}

@media only  screen and (max-width: 425px) {
  .card_blog {
    width: 390px;
  }
}
@media only  screen and (max-width: 375px) {
  .card_blog {
    width: 340px;
  }
}

@media only  screen and (max-width: 320px) {
    .card_blog {
      width: 300px;
    }
}



