@tailwind base;
@tailwind components;
@tailwind utilities;


/*
| reset css from project
*/


.container-box {
    width: 100%;
    max-width: 1440px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {

    text-decoration: none;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Kalameh', sans-serif;
    color: #010318;
    font-weight: 500;
    font-size: 1rem;
    line-height: 23px;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}


.typo-title {
    font-size: 1.2rem !important;
    font-weight: 700 !important;
}

.typo-p {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}






.product-tab-base{
    padding: 30px;
    padding-left: 0 ;

}
.product-tab-body{
    direction: rtl;
    text-align: justify;
    height: 300px;
    overflow-y: scroll;
}
.product-tab-body-padding-controller{
    padding-left: 30px;
}


.product-tab-body::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
}
.product-tab-body::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: rgb(148 163 184);
    height: 4px;
}
.product-tab-body::-webkit-scrollbar-track {
    background: transparent;
}



.description-tab-tab{
    width: 100%;
    height: 60px;
}

.description-tab-tab-list{
    width: 100%;
}



.breadcrumbs-style{
    margin-top: 30px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}