

.sidebar_blog{
  padding: 6px;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: max-content;
  //margin-right: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .sidebar_blog_title{
    background-color: #9a9a9a17;
    //width:px;
    padding: 14px;
    border-bottom: 1px solid #6b6C771A;
    border-radius: 10px;
  }
}

.sidebar_blog_item {
  margin-top: 10px;
  border: 1px solid #9a9a9a17;
  padding-right: 1px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 40px;
  //justify-content: space-between;
  padding-left: 5px;
  transition: all 0.8s ease;


  p{
    margin-right: 10px;
  }
  &:before{
    content: "";
    display: none;
    padding: 0px;
    width: 2px;
    height: 40px;
    background: #525FE1;
    animation: line 1s ease;
    border-radius: 10px;
    @keyframes line {
      0%{
        height: 0px;
        //border: 1px solid #525FE1;
      }
      100%{
        height:40px;

      }
    }

  }
  &::after{
    position: absolute;
    content: "";
    display: none;
    background: #9a9a9a17;
    padding: 10px;
    opacity: 50%;
    width: 100%;
    height: 100%;

    animation: sidebar 0.5s ease;
    @keyframes sidebar {
      0%{
        width: 0px;
      }
      100%{
        width: 100%;
      }
    }
  }
  &:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &::after{
      display: block;

    }
    &::before{
      display: block;
    }
  }
  .number{
    padding:5px ;
    background: red;
  }

}



@media only  screen and (max-width: 768px) {
  .sidebar_blog{
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only  screen and (max-width: 425px) {
  .sidebar_blog{
    width: 350px;
    margin-right:  0;
  }
}


@media only  screen and (max-width: 375px) {
  .sidebar_blog{
    width: 350px;
    margin-right:0;
  }
}

@media only  screen and (max-width: 320px) {
  .sidebar_blog{
    width: 300px;
    margin-right:0;
    margin-left: 0;
  }
}