.sidebar {
    width: 20%;
    flex: 1 1 20%;
    max-width: 20%;

    //width: 250px ;
    // height: 50vh;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.header_sidebar{
   flex-wrap: wrap;
   gap: 16px;
   margin-left: 6px;
    .btn_sidebar {
        width: 100px;
        font-size:10px;
        font-weight:600;
        transition: all 0.2s ease;
        background-color: #F0EDCF;
        &:hover {

            border-bottom: 3px solid #525FE1;
        }
        
    }
}



// -------------------------- responsive--------------//
@media only  screen and (max-width:310px) {
    .content_product_list {
        display: flex;
        flex-direction: column;
    }
        .content_products {
            display: flex;
            flex-direction: column;
        }
}